In [2]:
import pandas as pd

In [3]:
data =pd.read_csv('file.csv')

In [7]:
print(data.head())

   District_code         State_name District_name  Population    Male  Female  \
0              1  JAMMU AND KASHMIR       Kupwara      870354  474190  396164
1              2  JAMMU AND KASHMIR        Badgam      753745  398041  355704
2              3  JAMMU AND KASHMIR   Leh(Ladakh)      133487   78971   54516
3              4  JAMMU AND KASHMIR        Kargil      140802   77785   63017
4              5  JAMMU AND KASHMIR         Punch      476835  251899  224936

   Literate  Workers  Male_Workers  Female_Workers  ...  Christians  Sikhs  \
0    439654   229064        190899           38165  ...        1700   5600
1    335649   214866        162578           52288  ...        1489   5559
2     93770    75079         53265           21814  ...         658   1092
3     86236    51873         39839           12034  ...         604   1171
4    261724   161393        117677           43716  ...         958  11188

   Buddhists  Jains  Secondary_Education  Higher_Education  \
0         66     39                74948             39709
1         47      6                66459             41367
2      88635    103                16265              8923
3      20126     28                16938              9826
4         83     10                46062             29517

   Graduate_Education  Age_Group_0_29  Age_Group_30_49  Age_Group_50
0               21751          600759           178435         89679
1               27950          503223           160933         88978
2                6197           70703            41515         21019
3                3077           87532            35561         17488
4               13962          304979           109818         61334

[5 rows x 25 columns]

In [ ]:
data.style.hide()

In [ ]:
data.style.highlight_max(axis=0)

In [ ]:
data.style.set_caption('India Census Data')

In [24]:
data[data['District_name'].isin(['Bhadrak','Puri'])]

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
377,378,ORISSA,Bhadrak,1506337,760260,746077,1094140,468599,409559,59040,...,745,169,81,111,177013,71815,67536,848660,393629,260486
386,387,ORISSA,Puri,1698730,865380,833350,1291939,621676,498461,123215,...,4239,193,243,94,179086,84374,87000,888134,477430,328666

In [33]:
data[data['State_name'].str.contains('ODISHA') ]

Empty DataFrame
Columns: [District_code, State_name, District_name, Population, Male, Female, Literate, Workers, Male_Workers, Female_Workers, Cultivator_Workers, Agricultural_Workers, Household_Workers, Hindus, Muslims, Christians, Sikhs, Buddhists, Jains, Secondary_Education, Higher_Education, Graduate_Education, Age_Group_0_29, Age_Group_30_49, Age_Group_50, Indexes]
Index: []

[0 rows x 26 columns]

In [5]:
data = data.replace('ORISSA','ODISHA')

In [ ]:
data[data['State_name'].str.contains('ODISHA') ]

In [ ]:
data.groupby('State_name').Population.sum().sort_values(ascending=False)

In [ ]:
data.groupby('State_name').Population.sum().sort_values(ascending=False).plot(kind='bar')

In [55]:
data.groupby('State_name')[['Hindus','Muslims','Christians','Sikhs','Buddhists','Jains']].sum().sort_values(by='Hindus',ascending=False)

,Hindus,Muslims,Christians,Sikhs,Buddhists,Jains
State_name,,,,,,
UTTAR PRADESH,159312654,38483967,356448,643500,206285,213267
MAHARASHTRA,89703057,12971152,1080073,223247,6531200,1400349
BIHAR,86078686,17557809,129247,23779,25453,18914
ANDHRA PRADESH,74824149,8082412,1129784,40244,36692,53849
MADHYA PRADESH,66007121,4774695,213282,151412,216052,567028
WEST BENGAL,64385546,24654825,658618,63523,282898,60141
TAMIL NADU,63188168,4229479,4418331,14601,11186,89265
RAJASTHAN,60657103,6215377,96430,872930,12185,622023
GUJARAT,53533988,5846761,316178,58246,30483,579654
KARNATAKA,51317472,7893065,1142647,28773,95710,440280
ODISHA,39300341,911670,1161708,21991,13852,9420
CHHATTISGARH,23819789,514998,490542,70036,70467,61510
JHARKHAND,22376051,4793994,1418608,71422,8956,14974
HARYANA,22171128,1781342,50353,1243752,7514,52613
ASSAM,19180759,10679345,1165867,20672,54993,25949
KERALA,18282492,8873472,6141269,3814,4752,4489
NCT OF DELHI,13712100,2158684,146093,570581,18449,166231
PUNJAB,10678138,535489,348230,16004754,33237,45040
UTTARAKHAND,8368636,1406825,37781,236340,14926,9183
HIMACHAL PRADESH,6532765,149881,12646,79896,78659,1805
JAMMU AND KASHMIR,3566674,8567485,35631,234848,112584,2490
TRIPURA,3063903,316042,159882,1070,125385,860
MANIPUR,1181876,239836,1179043,1527,7084,1692
PONDICHERRY,1089409,75556,78550,297,451,1400
GOA,963877,121564,366130,1473,1095,1109
CHANDIGARH,852574,51447,8720,138329,1160,1960
ARUNACHAL PRADESH,401876,27045,418732,3287,162815,771
SIKKIM,352662,9867,60522,1868,167216,314
MEGHALAYA,342078,130399,2213027,3045,9864,627
DADRA AND NAGAR HAVELI,322857,12922,5113,217,634,1186
ANDAMAN AND NICOBAR ISLANDS,264296,32413,80984,1286,338,31
DAMAN AND DIU,220150,19277,2820,172,217,287
NAGALAND,173054,48963,1739651,1890,6759,2655
MIZORAM,30136,14832,956331,286,93411,376
LAKSHADWEEP,1788,62268,317,8,10,11

In [53]:
data[data.State_name=='ODISHA']['Male'].sum()

21212136

In [66]:
data.columns = data.columns.str.replace(r'TTT', '')

In [67]:
data.head()

,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,Cultivator_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
District_code,,,,,,,,,,,,,,,,,,,,,
1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,229064,190899,38165,34680,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,214866,162578,52288,55299,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978
3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,75079,53265,21814,20869,...,658,1092,88635,103,16265,8923,6197,70703,41515,21019
4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,51873,39839,12034,8266,...,604,1171,20126,28,16938,9826,3077,87532,35561,17488
5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,161393,117677,43716,54264,...,958,11188,83,10,46062,29517,13962,304979,109818,61334