In [3]:
import pandas as pd

In [4]:
data =pd.read_csv('file.csv')

In [7]:
print(data.head())

   District_code         State_name District_name  Population    Male  Female  \
0              1  JAMMU AND KASHMIR       Kupwara      870354  474190  396164
1              2  JAMMU AND KASHMIR        Badgam      753745  398041  355704
2              3  JAMMU AND KASHMIR   Leh(Ladakh)      133487   78971   54516
3              4  JAMMU AND KASHMIR        Kargil      140802   77785   63017
4              5  JAMMU AND KASHMIR         Punch      476835  251899  224936

   Literate  Workers  Male_Workers  Female_Workers  ...  Christians  Sikhs  \
0    439654   229064        190899           38165  ...        1700   5600
1    335649   214866        162578           52288  ...        1489   5559
2     93770    75079         53265           21814  ...         658   1092
3     86236    51873         39839           12034  ...         604   1171
4    261724   161393        117677           43716  ...         958  11188

   Buddhists  Jains  Secondary_Education  Higher_Education  \
0         66     39                74948             39709
1         47      6                66459             41367
2      88635    103                16265              8923
3      20126     28                16938              9826
4         83     10                46062             29517

   Graduate_Education  Age_Group_0_29  Age_Group_30_49  Age_Group_50
0               21751          600759           178435         89679
1               27950          503223           160933         88978
2                6197           70703            41515         21019
3                3077           87532            35561         17488
4               13962          304979           109818         61334

[5 rows x 25 columns]